
# Practice Lab M03 (Version 1)
## Data Acquisition and Data Source

This task on data acquisition and data source is mainly to focus on how to properly acquire and read the data with differnt formats.

To do:

*   Read the given data for required format; 
*   Using Numpy and Pandas to do the ETL for the data.

**Task 1.1** We first read the given data source. However, it is not in a standard readable format. The parquet file is in columnar storage format for efficient storage purpose (very common in cloud service scenario). Our goal in this task is to read this parquet file.

**Background:**
Parquet is an open source file format available to any project in the Hadoop ecosystem. Apache Parquet is designed for efficient as well as performant flat columnar storage format of data compared to row based files like CSV or TSV files. -- [check link](https://databricks.com/glossary/what-is-parquet)

**Hint:**

There are many ways to read the parquet file:


1.   Using pyarrow engine to read   
        ```
        ***pyarrow.parquet.ParquetFile(filename)***
        ```
2.   Directly read parquet with pandas  
        ```
       ***pandas.read_parquet(filename, engine='pyarrow')***
        ```

In [ ]:
# read the parquet file by using pyarrow 
import pyarrow.parquet as pq
parquet_file = pq.ParquetFile('data/bank.parquet')

In [ ]:
# print the parquet file schema to check the columns and its datatype
#parquet_file.schema

In [ ]:
# print the metadata for the parquet file
#parquet_file.metadata

In [ ]:
# convert the parquet file into table format and print it in dataframe type
table = parquet_file.read()
df = table.to_pandas()

In [ ]:
#print the table into dictionary format. comment the %%capture to see the print output
%%capture
dic = table.to_pydict()

In [ ]:
# Directly read the parquet file by uing pandas
import pandas as pd
df_ = pd.read_parquet('data/bank.parquet', engine='pyarrow')
df_.head(5)

**Task 1.2** After having the dataframe for the given data, let's first focus on the dictionary format -- which is the common used format while for semi-structure data in frontend development. **A record in dictionary  (one row in csv format) is now partitioned on column level**. 
We will try to format the dictionary by only selecting the **records (rows)** with age > 50 and age < 70  and then store it as a json file.

**Background:** 

Dictionaries are used to store data values in key:value pairs.
A dictionary is a collection which is ordered*, changeable and does not allow duplicates. -- [check link](https://www.w3schools.com/python/python_dictionaries.asp)


**Hint:**

```
for key, val in d.items():
    if filter_string not in key:
        continue
    do something

```

or 
```
filtered_dict = {k:v for (k,v) in d.items() if filter_string in k}
```

In [ ]:
# Let's first print out all the keys and the length of the values in the given data dictionary

In [ ]:
# let's print the keys and also the unique value from the values in in each (k,v) pair in the given data dictionary
# unique value of the array could be calculated via numpy.unique(array,return_counts = False)
import numpy as np

In [ ]:
# Let's then print both keys and the length of the unique value from the values in each (k,v) pair in the given data dictionary
# for example, in the key value pair {fruit: ['apple','pear','banana']}, the length of the unique value is 3
# unique value of the array could be calculated via numpy.unique(array,return_counts = False)
import numpy as np

In [ ]:
# Now let's filter the dictionary, by doing it, you need to first create a null dictionary 
# and then write the filtered key value pair in the null dictionary
# The code is given as below

newDict = dict()
for k,v in dic.items():
   # Check if value meets the condition on particular key
    if k == 'age':
        flt = filter(lambda age: age < 70 and age >50, np.array(v).astype(int))
        new_v = list(flt)
        newDict[k] = new_v
    else:
        newDict[k] = v

In [ ]:
# let's double check the results
for k, v in newDict.items():
  print(k, np.unique(v,return_counts=False))

**Question here for 1.2** Have we finished the task 1.2? if yes, why? if no, why?

In [ ]:
# Now let's redo the filtering on the dictionary, by doing it, you need to first create a null dictionary 
# and then write the filtered key value pair in the null dictionary
# Please write code as below again:

newDict = dict()
index_col = [i for i in range(len(dic['age'])) if (dic['age'][i] > 50) and (dic['age'][i] <70)]
for k,v in dic.items():   
    newDict[k] = list(np.array(v)[index_col])

In [ ]:
#let's check the length of the values again, do we see the difference?
for k, v in newDict.items():
  print(k, len(v))

In [ ]:
# let's store the filtered result into json,
# the numpy to json encoder is provided
import json
def np_encoder(object):
    if isinstance(object, np.generic):
        return object.item()

In [ ]:
#let's read it via pandas to check
df_json = pd.read_json('data/bank.json')
df_json

**Task 1.3** After reading the data and also filter the dictionary, we finally have our json file and store it in our repo. However, if we need to regularly perform the similarly tasks for acquire the datasource, a parser is required. 
Could you write a parser function to contain the above parquet reading and dictionary filtering functionalities?

**Background:** 

Python parser is mainly used for converting data in the required format, this conversion process is known as parsing. As in many different applications data obtained can have different data formats and these formats might not be suitable to the particular application and here comes the use of parser that means parsing is necessary for such situations. Therefore, parsing is generally defined as the conversion of data with one format to some other format is known as parsing -- [check link](https://www.educba.com/python-parser/)

**Hint:**

```
def parser(datasource_path,dataoutput_path,filter_key, min, max):
    parquet_file = pq.ParquetFile(datasource_path)
    ...
```

In [ ]:
#Code for the parser

In [ ]:
# test the parser with condition on min=30, max=35 for age. Name the new json file as 'newbank.json'

**Task 1.4** Now we have the parser and also have the json file, then next step for us is doing the ETL by using numpy. 
Let's first understand the most important numpy operation -- Broadcasting.
In this task, please use the numpy to add 10 to every age in 'newbank.json'.

**Background:**

Broadcasting is a process performed by NumPy that allows mathematical operations to work with objects that don't necessarily have compatible dimensions -- [check link](https://numpy.org/doc/stable/user/basics.broadcasting.html)

**Hint:**

```
array_a = np.array([[1, 2],
                    [3, 4]])
array_a + 1
```
Output:
```
array([[2, 3],
       [4, 5]])
```

In [ ]:
# firstly, let's read the newbank.json into dataframe by using pandas
import pandas as pd
df_newbank = pd.read_json('data/newbank.json')
df_newbank

In [ ]:
# let's convert the dataframe into numpy -- np_df and print the shape

In [ ]:
# let's slicing the age from the np_df as np_df_age and print the shape

In [ ]:
# let's use the np.broadcast to add 10 on each age and save the result as np_df_age_new, also print the shape

In [ ]:
#let's add the np_df_age_new back to np_df and save it as np_df_new, also print the shape
# add the np_df_age_new to np_df will need to perform on column level which is the axis 1. Also the shape of the two array needs to be same

In [ ]:
# let's convert the numpy array to dataframe -- df_newbank_new and print the first 5 rows
# also give the new column a name as 'new_age'
# make sure new column is on the first column

**Task 1.5** Could we devide the numerical columns and categorical columns from df_?

**Hint:**

select_dtypes('number') could be used here to select the numerical columns

In [ ]:
# firstly, let's select the numerical columns

In [ ]:
# then let's remove the numerical columns from all columns

In [ ]:
# let's slice the data by only selecting the numerical columns, save the new dataframe as df_num

In [ ]:
# then let's slice the data by only selecting the category columns, save the new dataframe as df_cat

**Task 1.6 (Advanced)** Now we have divided the df_ into two part, numerical dataframe and categorical dataframe. For many big analysis, category data is not the best format to start with. The common way to deal category data is to transform it to one hot encode format (only with 1 and 0). Could you finish the one hot encode transforming for categorical dataframe by using the provided code in hint?

**Background:**

One-hot Encoding is a type of vector representation in which all of the elements in a vector are 0, except for one, which has 1 as its value, where 1 represents a boolean specifying a category of the element. -- [check link](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html)

**Hint:**

```
df_onehot = pd.get_dummies(s)
```

In [ ]:
# let's use the code in hint to do the one hot encode and print the dataframe
#df_onehot = pd.get_dummies(df_cat)
#df_onehot.head(5)

In [ ]:
# let's combine the new onehot encode dataframe with numerical dataframe to obtain the full dataframe df_all

#df_all = pd.concat([df_num,df_onehot],axis=1)
#df_all.head(5)

##**Tasks 2 Advanced Data Acquisition **

This task on Advanced data acquisition is to use numpy and pandas to perform more advanced Code-based ETL.

To do:

*   Create a function to calculate the euclidean distance between recoard; 
*   Find the most similar record for each one in the bank data.

**Task 2.1** In numpy, the euclidean distance could be calculated via 
```
np.sqrt(np.sum(np.square(point1 - point2)))
```
point1 and point2 is the 1D array, please folllow the above calculation and build a function to calculate the euclidean distance for any two arrays from a given dataframe.

In [ ]:
# define the funtion as below with name "dist_func"

def dist_func(row1,row2):
  return np.sqrt(np.sum(np.square(row1 - row2)))

In [ ]:
# what about if point2 is a 2d array? how to calculate the distance from point1 to each dimension of point2?

**Task 2.2** Now, we will need to calculate the euclidean distance between each row and all the rows (let's include the current row at here), also we would like to save the distances into array for each row. To the end, you will have a distance matrix with shape of (n,n) where n is the total rows.
We will use top 100 rows from *df_all* as the input.

**Hint:**

Use the for loop on each row could be a good start

In [ ]:
# let's write the code here:

In [ ]:
# let's print the distance matrix

In [ ]:
# let's find the index of the smallest distance for each row in the distance

In [ ]:
#let's put the results into pandas dataframe